html,
body {
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.CodeMirror {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: 100% !important;
  font-size: 14px;
}
.react-codemirror2 {
  height: 100vh;
}
.MuiList-padding-134 {
  padding: 0 !important;
}
.cont {
  height: 100vh;
}

button:focus {
  outline: 0 !important;
}

.h-100 {
  height: 100%;
}

.p-2 {
  padding: 0.5rem !important;
}
.bg-grey {
  background-color: #dddedf;
}

.title-markdown {
  background-color: #2632389e;
  color: white !important;
  padding: 5px;
  font-weight: bold;
}

.MuiTypography-body1-107 {
  font-size: 0.7rem !important;
}

.overauto {
  overflow: auto !important;
}

.MuiTypography-subheading-105 {
  font-size: 0.9rem !important;
}